button.small-button {
    padding: 1px 8px;
    /* margin-left: 5px;
    font-size: x-small;*/
    min-height: 0;
    min-width: 0;
    border-radius: 0;
}

entry.small-text {
    padding: 1px 1px;
    /*font-size: x-small;*/
    min-height: 0;
    min-width: 0;
    border-radius: 0;
    background-color: white;
}

columnview row:active {
    background-color: gray;
}

columnview listview row:hover {
    background-color: ghostwhite;
}

/*columnview row:nth-child(odd) {
    background-color: ghostwhite;
}

columnview row:nth-child(even) {
    background-color: white;
}*/

columnview cell {
    padding: 0px;
    margin: 0px;
    /*font-size: x-small;*/
    min-height: 0;
    min-width: 0;
}

columnview header button {
    min-height: 18px;
    min-width: 8px;
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
    color: blue;
    border-radius: 0;
    border-style: solid;
    border-bottom-width: 1px;
}